@import url(./bootstrap.min.css);

.navBar{
    min-width: 300px;
}

.searchBar{
    float: right;
    /* background-color: #f0ecec; */
    margin-left: auto;
}

.sideBar{
    align-items: stretch;
    min-width: 300px;
    /* height: 100vh; */
}

.centerBox{
    min-width: 300px;
}

.main{
    margin: auto;
}

.aboutBox{
    max-height: 25%;
}

.slideBox{
    max-height: 700px;
    overflow: hidden;
}

.imageBox{
    overflow: hidden;
    max-height: 210px;
    /* min-height: 2 */
}

.formBox{
    width: 100%;
}

#info{
    color: #ff0000;
    text-align: center;
}
